		body 
		{
			color: white;
	        font-family: Veranda;
	        background-color:Brown;
	        font-size: 12pt;
	        margin-left: 10%;
	        margin-right: 10%;
			text-align: center;
		}
		


		div {text-align:center; margin:0 auto; }
		
		p { color: white; font-size: 12pt; }
		
		h1 { font-style:italic; font-weight:bold; }
		h2 { font-weight:bold; text-decoration:underline }
		
		a { text-decoration:none; }
		a:link, a:visited { color:purple; }
		a:hover, a:active { text-decoration:underline; color:Deeppink; }
		
		
		
		.footer { font-size:12pt; font-weight:bold; text-align:center; line-height:20pt; padding-top:50pt;}
		#wrap {width:940px; margin:auto;}
		#Welcome_Header { text-align:center; }